.fira{
    color: #f5f5f5;
    background-color: rgba(116, 184, 216, 0.770);
    width: 80%;
    padding: 100px 100px;
    font-family: helvetica;
    font-size: 10px;
}
body{
    background-image: url('images/kelapapohon.png');
    width: 80%;
    background-color: rgba(245, 245, 245, 0.548);
    margin: auto;
    padding: 120px 80px;
}
.Instagram{
    background-image: url(images/instagram-logo.png);
    background-repeat: no-repeat;
    padding-left: 40px;
    background-size: 25px;
    background-position: 3px;
}
.Email{
    background-image: url(images/envelope.png);
    background-repeat: no-repeat;
    padding-left: 40px;
    background-size: 25px;
    background-position: 3px;
}
.Whatsapp{
    background-image: url(images/call-answer.png);
    background-repeat: no-repeat;
    padding-left: 40px;
    background-size: 25px;
    background-position: 3px;
}

.Facebook{
    background-image: url(images/facebook.png);
    background-size: 20px;
    background-repeat: no-repeat;
    padding-left: 40px;
    background-size: 25px;
    background-position: 3px;
}