.navbar{
    width : 100%;
    background-color: rgba(128, 128, 128, 0.24);
    padding : 15px;
}

span{
    font-size: 25px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.nav-body{
    width : 80%;
    padding: 20px;
    block-size: auto;
    button-
}  

.nav-body ul {
    margin:0;
    padding:0;
    float: right;
}

.nav-body li {
    display: inline;
    font-size: 20px;
    padding : 20px;
}

a{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

body{
    margin: 0;
    background-image: url(images/pemandangan.png);
}

.Kata{
    width: 80%;
    background-color: rgba(245, 245, 245, 0.548);
    margin: auto;
    padding: 120px 80px;
}

h1{
    font-family: helvetica;
    color: rgb(187, 83, 104);
    margin: auto;
    text-align: center;
}

h2{
    font-family: helvetica;
    color: rgb(204, 85, 130);
    text-align: center;
    padding-top: 10px;
    margin: auto;
    margin-top: 40px;
}